<!doctype html>

{% load i18n %}
{% load static %}
<html lang="ru-RU">

<head>
    <meta charset="utf-8">
    <title>Таблица</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.png">
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- {% if not DEBUG %}
        <link rel="stylesheet" media="all" href="{% static 'styles.css' %}" />
    {% endif %} -->

    <!-- <script>
        var userProfile = {{userjson | safe}};
    </script> -->

</head>

<body>
    <app-root>Loading...</app-root>
</body>
    <script type="text/javascript" src="{% static 'runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</html>
